html {
    height: 100%;
    width: 100%;
  }

.navbar {
    background-color: #0047AB; /* Un tono de azul */
    height: 60px;               /* Define qué tan "delgado" es el rectángulo */
    display: flex;              /* Activa el modo Flexbox */
    align-items: center;        /* Centra los títulos verticalmente */
    justify-content: space-around; /* Distribuye el espacio igual entre títulos y bordes */
    width: 100%;                /* Ocupa todo el ancho de la pantalla */
}

/* Estilo para los textos dentro de la barra */
.navbar h1 {
    color: white;
    /*text-decoration: none;      /* Quita el subrayado de los enlaces */
    font-family: Arial, sans-serif;
    font-weight: bold;
}
  