html {
    height: 100%;
    width: 100%;
  }


/*body {
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
}*/

/* ------------- TEXTO --------------*/

.test-text {
  font-size: 80px; /* Aquí controlas el tamaño del texto del h1 */
  font-family: sans-serif;
}
  